{{define "main_header"}}
<div style="display:flex;align-items:center;justify-content:space-between"><h1>{{.Title}}</h1></div>
<a class="export-fixed" id="exportMd" href="{{.MdRoute}}" title="导出为 Markdown">导出为 Markdown</a>
{{end}}
